#chat_container{
    padding: 5px;
    width: 300px;
    height: 100%;
    background-color: #131b2d;
    float:right;
}

#chat_box{
    position:absolute;
    bottom:0;
    width: 300px;
}

#chat_input{
    border:none;
    width: 100%;
}

#send_button{
    border: 1px;
    color: #ffffff;
    border-radius: 5px;
    width: 125px;
    background-color: #384f85;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#send_button:hover{
    background-color: #465881;
}