#chat_container{
    position: relative;
    width: 300px;
    height: 100%;
    background-color: #070b13;
    float:right;
}

#chat_box{
    position: relative;
    top: calc(100% - 200px);
    height: 200px;
    width: 100%;
}

#chat_input{
    border:none;
    padding: 5px;
    width: 100%;
}

#chat_input:focus{
    outline: none;
}

#send_button{
    border: 1px;
    color: #ffffff;
    border-radius: 5px;
    width: 125px;
    background-color: #384f85;
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

#send_button:hover{
    background-color: #465881;
}

#chat_inputContainer{
    position: relative;
    bottom: 0px;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: #131b2b;
}

#chat_messageContainer{
    position: absolute;
    bottom: 200px;
    padding: 0px 10px 0px 10px;
}

#loginToChatMessage{
    color: red;
    text-align: center;
}